
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Info System</h1>
            <p>Welcome to Login and Registration System</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Join Us or Member?</h3>
            <br><br>
            <a href="/login" class="fas fa-user fa-lg">Login</a>
            <a href="/register" class="fas fa-user fa-lg float-right">Register</a>
        </div>
        <br><br>
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a></div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
